/* MAIN */
body {
  /* background-color: #084425; */
  background-color: black;
  background-image: url('https://dalehartery.files.wordpress.com/2015/06/chalkboard.jpg');
  background-size: cover;
  color: #ffff38;
  font-family:  'Fredericka the Great', "CrayonHandRegularW00-Rg", cursive;
}

.main-view { /* (ui-view) */
  padding: 80px 30px 30px 30px;
  width: 90%;
  margin: auto;
}
/* END MAIN */
