/* MAIN */
body {
  background-color: #084425;
  color: #ffff38;
  font-family: "CrayonHandRegularW00-Rg", 'Fredericka the Great', cursive;
}

.main-view { /* (ui-view) */
  padding: 80px 30px 30px 30px;
  width: 90%;
  margin: auto;
}
/* END MAIN */
