html {
  --darkcolor:    #26532b;
  --mediumcolor:  #399e5a;
  --lightcolor:   #e8fffe; /* background, row highlights */
  --darkgrey: #63e2c6; /* darker grey */
  --rows: #f4fcfc; /* very light for rows */
}

/* FOOTER */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 100px !important; /* *!*!keep same as height of .footer*!*! */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* *!*!keep same as margin-bottom of body*!*! */
  background-color: #33231c;
  background-image: url('../app_images/bottom_wood.jpg');
  background-size: cover;
  color: black !important;
}

.card-holder {
  width: 200px;
  height: 110px;
  perspective: 500px;
  position: absolute;
  bottom: 0;
  right: 30px;
}
.card {
  font-family: "CrayonHandRegularW00-Rg", cursive;
  font-size: 1em;
  background-image: url('../app_images/index_card.jpg');
  width: 200px;
  height: 100px;
  transform: rotate3d(1,0,0,15deg);
}

.card-info {
  margin-left: 5px;
}

#copyright-message {
  margin-left: 2px;
  padding-top: 10px;
}

#silver-tray {
  position: absolute;
  bottom: 0px;
  height: 15px;
  width: 100%;

  background: rgb(76,76,76); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(102,102,102,1) 25%, rgba(71,71,71,1) 39%, rgba(44,44,44,1) 59%, rgba(0,0,0,1) 70%, rgba(17,17,17,1) 75%, rgba(28,28,28,1) 91%, rgba(43,43,43,1) 100%, rgba(19,19,19,1) 100%, rgba(43,43,43,1) 101%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 59%,rgba(0,0,0,1) 70%,rgba(17,17,17,1) 75%,rgba(28,28,28,1) 91%,rgba(43,43,43,1) 100%,rgba(19,19,19,1) 100%,rgba(43,43,43,1) 101%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(76,76,76,1) 0%,rgba(89,89,89,1) 12%,rgba(102,102,102,1) 25%,rgba(71,71,71,1) 39%,rgba(44,44,44,1) 59%,rgba(0,0,0,1) 70%,rgba(17,17,17,1) 75%,rgba(28,28,28,1) 91%,rgba(43,43,43,1) 100%,rgba(19,19,19,1) 100%,rgba(43,43,43,1) 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-9 */
}
/* END FOOTER */
