html {

  --darkblue: #0c2cff; /* bootstrap button */
  --darkerblue: #3950df; /* bootstrap button */

  --darkcolor: #1f5701; /* darkest color for navbar */
  --mediumcolor: #aaed97; /* medium color for navbar words */
  --lightcolor: #f6fff9; /* lightest color for background */

  --darkgrey: #d1d1d1; /* darker grey */
  --rows: #ebfff6; /* darker color for rows */
}

/* FOOTER */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px !important; /* *!*!keep same as height of .footer*!*! */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* *!*!keep same as margin-bottom of body*!*! */
  background-color: var(--mediumcolor);
  color: black !important;
}

.footer > p {
  margin-top: 20px;
  margin-left: 20px;
}
/* END FOOTER */
