/* CSS FOR UI GRID */
.ui-grid {
  height: 394px;
}

abbr[title]{
  border-bottom: none;
  cursor: inherit;
  text-decoration: none;
}

.ui-grid-pager-max-pages-number abbr[title] {
  position: relative;
  bottom: -4px;
}

.ui-grid-pager-max-pages-number {
  position: relative;
  bottom: 3px;
}

.ui-grid-row .ui-grid-cell {
  background-color: transparent !important;
  border-bottom: 1px dotted;
}

.ui-grid-header-cell, .ui-grid-header-cell-wrapper, .ui-grid-top-panel, .ui-grid-header, .ui-grid, .ui-grid-render-container {
  background-color: transparent !important;
}
/* END CSS FOR UI GRID */
