.intro {
  position: relative;
  width: 50%;
  margin: 0 auto;
  margin-top: 50px;
}

@media (max-width: 890px) {
  .intro {
    width: 80%
  }
}

.intro h1 {
  text-align: center;
}

.intro h3 {
  text-align: justify;
}

.intro p {
  text-align: center;
  margin-top: 30px;
}

.intro a {
  color: yellow;
  text-decoration: underline;
}

.intro a:hover {
  color: white;
  font-weight: bolder;
}
