<div class='problem-page-view'>

  <div ng-if='vm.show.allProblems'>
    <h1 class='text-center'>All Problems</h1>
    <div class='problem-nav-buttons'>
      <button class='btn btn-primary' ui-sref='problem_form'>Add a problem</button>
    </div>
    <div id='problem-grid' ui-grid='vm.gridOptions' ui-grid-pagination>
      <div class='loading' ng-if='vm.loading'>
        <p>Loading... Please wait.</p>
        <div class='loading-icon'></div>
      </div>
    </div>
  </div>

</div> <!-- problem page view -->
