/* PROBLEMS INDEX */
.problem-page-view {
  color: var(--darkcolor);
}

.problem-nav-buttons {
  margin: 20px;
}

.problem-list-problem {
  cursor: pointer;
  color: inherit;
  font-size: 1.2em;
}
/* END PROBLEMS INDEX */


/* PROBLEMS FORM */
.problem-form .input-group {
  width: 90%;
}

.problem-form .form-control {
  width: 80%;
}

.problem-form .form-fields {
  width: 80%;
  margin: auto;
}

.problem-form .question-input {
  width: 100%;
  margin: auto;
}
/* END PROBLEMS FORM */


/* VIEW PROBLEM */
.glyphicon-ok-circle {
  color: green;
}

.glyphicon-remove-circle {
  color: red;
}
/* END VIEW PROBLEM */
