<div class='problem-page-view'>
  <h1 ng-if='!vm.problem.id' class='text-center'>Create New Problem</h1>
  <h1 ng-if='vm.problem.id' class='text-center'>Update Problem</h1>
  <div class='problem-nav-buttons'>
    <button class='btn btn-primary' ui-sref='problems'><span class='glyphicon glyphicon-arrow-left'></span> Back to all problems</button>
  </div>
  <div class='form-fields'>
    <form name='vm.problemForm'>
      <div class='input-group question-input'>
        <label class='sr-only'>Question</label>
        <p><span class="label label-default">Question</span></p>
        <input type='text' ng-model='vm.problem.statement' class='form-control' required>
      </div>
      <br />
      <div ng-repeat='answer in vm.problem.answers'>
        <p class='text-muted'>
          <span class="label label-default">Answer</span>
        </p>
        <div class='input-group'>
          <label class='sr-only'>Answer</label>
          <span class="input-group-addon">
            <input type="checkbox" title='Check correct answers' ng-model='answer.correct'>
          </span>
          <input type='text' ng-model='answer.statement' class='form-control' required>
          <span class='input-group-button'>
            <button class='btn btn-danger' title='Remove' type='button' ng-click='vm.removeAnswerInput($index, answer.id)'>X</button>
          </span>
        </div>
        <br />
      </div>
      <button ng-if='vm.problem.answers.length < 5' ng-click='vm.addAnAnswerInput()' class='btn btn-primary'>Add another answer choice</button>
      <button ng-if='vm.problemForm.$valid' ng-click='vm.updateProblem()' class='btn btn-primary'>Update</button>
    </form>
  </div>
</div>
