.gameideas-page-view {
  color: var(--darkcolor);
}

.gameidea-nav-buttons {
  margin: 20px;
}

.gameideas-list-gameideas {
  cursor: pointer;
  color: inherit;
  font-size: 1.2em;
}

/* bootstrap game ideas */
.game-idea-row {
  border: 2px dotted;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px;
}

.title-intro-side {

}

.game-stats-side {

}

.game-title {
  font-size: 2em;
  padding-left: 4px;
}

.game-description {
  padding-top: 5px;
  text-align: justify;
}

/* game ideas form */
.gameideas-form .input-group {
  width: 100%;
}

.label-default {
  padding-bottom: 0px;
  border-bottom-left-radius: 0;
}

.slider-div {
  width: 100%;
  background-color: white;
  border-top-right-radius: .25em;
  border-bottom-right-radius: .25em;
  padding: 10px;
  border: 1px solid lightgray;
}
