.gameideas-page-view {
  color: var(--darkcolor);
}

.gameidea-nav-buttons {
  margin: 20px;
}

.gameideas-list-gameideas {
  cursor: pointer;
  color: inherit;
  font-size: 1.2em;
}

/* bootstrap game ideas */
.game-idea-row {
  border: 2px dashed transparent;
  border-radius: 25%;
  margin-bottom: 5px;
  padding: 30px;
}

.game-idea-row a {
  color: inherit;
}

.game-idea-row:hover {
  border: 2px dashed #ffff38;
}

.title-intro-side {

}

.game-stats-side {
  letter-spacing: 3px;
  line-height: 1.2;
}

.game-stats-side p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.game-title {
  font-size: 2em;
  padding-left: 4px;
}

.game-description {
  padding-top: 5px;
  letter-spacing: 3px;
  line-height: 1.2;
}

/* game ideas form */
.gameideas-form .input-group {
  width: 100%;
}

.label-default {
  font-size: 1.3em;
  color: inherit;
  background-color: transparent;
}

input, textarea {
  font-size: 1.2em;
  padding: 10px;
  background-color: transparent;
  border: 1px solid yellow;
}

.slider-div {
  width: 100%;
  border-top-right-radius: .25em;
  border-bottom-right-radius: .25em;
  padding: 10px;
}

span.rz-bubble.rz-model-value,
span.rz-bubble.rz-model-high,
span.rz-bubble.rz-limit.rz-ceil,
span.rz-bubble.rz-limit.rz-floor {
  color: inherit;
}

span.rz-bar.rz-selection {
  background-color: #ffff38;
  height: 4px;
}

.rzslider .rz-pointer {
  top: -14px;
  z-index: 3;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: #ffff38;
  -webkit-border-radius: 16px;
     -moz-border-radius: 16px;
          border-radius: 16px;
}

.rzslider .rz-bar {
  background: lightgrey;
  height: 1px;
}
