<div class='gameideas-page-view'>

  <div ng-if='vm.show.allGameideas'>
    <h1 class='text-center'>All Games</h1>
    <div class='gameideas-nav-buttons'>
      <button class='btn btn-primary gameidea-nav-buttons' ui-sref='gameidea_form'>Add a game idea</button>
      <button class='btn btn-primary gameidea-nav-buttons' ng-click='vm.showAdvancedSearchForm()'>Advanced search</button>
    </div>
    <div id='gameidea-grid' ui-grid='vm.gridOptions' ui-grid-pagination>
      <div class='loading' ng-if='vm.loading'>
        <p>Loading... Please wait.</p>
        <div class='loading-icon'></div>
      </div>
    </div>
  </div>

</div>
